[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "~=7.2"
setuptools = "*"
autopep8 = "*"
pipenv-setup = "*"
vistir = "==0.6.1"

[requires]
python_version = "3.9"
